
        
           <app-header></app-header>             
       <!-- header top start -->
       <div class="header-top-area bg-gray text-center text-md-left">
        <div class="container">
            
                <div class="col-lg-6 col-md-7">
                    <div class="header-top-right float-md-right float-none">
                       
                    </div>
                </div>
            </div>
        </div>
   
    <!-- header top end -->

    <!-- header middle start -->
    <div class="header-middle-area pt-20 pb-20">
        <div class="container">
            <div class="row align-items-center">
                <!-- end logo area -->
                <div class="col-lg-9">
                    <div class="header-middle-right">
                        <div class="header-middle-shipping mb-20">
                            <div class="single-block-shipping">
                                
                                
                            </div> <!-- end single shipping -->
                            <div class="single-block-shipping">
                                
                            </div> <!-- end single shipping -->
                            <div class="single-block-shipping">
                                
                               
                            </div> <!-- end single shipping -->
                        </div>
                        <div class="header-middle-block">
                            
                            <div class="header-mini-cart">
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header middle end -->

    <!-- main menu area start -->
    <div class="main-header-wrapper bdr-bottom1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-header-inner">
                        <div class="category-toggle-wrap">
                            <div class="category-toggle">
                                categories
                                <div class="cat-icon">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                            <nav class="category-menu hm-1">
                                <ul>
                                    <li><a href="shop-grid-left-sidebar.html"><i class="fa fa-desktop"></i>
                                            Poulets</a></li>
                                    <li class="menu-item-has-children"><a href="shop-grid-left-sidebar.html"><i
                                                class="fa fa-camera"></i> Céréales</a>
                                        <!-- Mega Category Menu Start -->
                                        <ul class="category-mega-menu">
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">Grains</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">Riz</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">Maïs</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">Haricot</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">Voandzou</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">Sorgho</a></li>
                                                     <li><a href="shop-grid-left-sidebar.html">Mil</a></li>
                                                      <li><a href="shop-grid-left-sidebar.html">Acadjou</a></li>
                                                      
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">prix</a>
                                                <ul>
                                                   <li><a href="shop-grid-left-sidebar.html">350F-700F le kg</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">500F-1000F le kg</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">300F-650F le kg</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">700F le kg</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">650F le kg</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">850F le kg</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">450F le kg</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">Fécules</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">Ignames</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">Patates douces</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">Pommes de terre</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">Manioc</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">Prix</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">2000F-2500F le kg</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">900F-1250F le kg</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">700F le kg</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">1400F le kg</a></li>
                                                </ul>
                                            </li>
                                        </ul><!-- Mega Category Menu End -->
                                    </li>
                                    <li class="menu-item-has-children"><a href="shop-grid-left-sidebar.html"><i
                                                class="fa fa-book"></i> Fruits</a>
                                        <!-- Mega Category Menu Start -->
                                        <ul class="category-mega-menu">
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">Fruits</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">Avocats</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">Bananes</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">Coco</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">Ananas</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">Papaye</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">Mangue</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">Prix</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">500F par avocat</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">850F-1200F par grappe</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">200F la pièce</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">450 la pièce</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">200 la pièce</a></li>
                                                </ul>
                                            </li>
                                            
                                        </ul><!-- Mega Category Menu End -->
                                    </li>
                                    <li><a href="shop-grid-left-sidebar.html"><i class="fa fa-clock-o"></i>
                                            Légumes</a></li>
                                    <li><a href="shop-grid-left-sidebar.html"><i class="fa fa-television"></i>
                                            Condiments</a></li>
                                    <li><a href="shop-grid-left-sidebar.html"><i class="fa fa-tablet"></i>
                                            Viande</a></li>
                                    <li><a href="shop-grid-left-sidebar.html"><i class="fa fa-book"></i> Poissons</a></li>
                                    <li><a href="shop-grid-left-sidebar.html"><i class="fa fa-microchip"></i>
                                            Oeufs</a></li>
                                    <li><a href="shop-grid-left-sidebar.html"><i class="fa fa-bullhorn"></i>
                                            Huile</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-block d-lg-none">
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="slider-wrapper-area">
                  <div class="hero-slider-active hero__1 slick-dot-style hero-dot">
                      <div class="single-slider" style="background-image: url(assets/assets/img/slider/slider11_bg.jpg);">
                          <div class="container p-0">
                              <div class="slider-main-content">
                                  <div class="slider-content-img">
                                      <img src="assets/assets/img/slider/slider11_lable1.png" alt="">
                                      <img src="assets/assets/img/slider/slider11_lable2.png" alt="">
                                      </div>
                                  <div class="slider-text">
                                      
                                      <h1>Patates douces</h1>
                                      <p>Profitez des offres exclusives. Jusqu'à 30% de réduction!!!</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                 
              </div>
          </div>
      </div>
  </div>
  